<style>
	body {
		padding-top: 60px;
	}
</style>
<%= render partial: "shared/topbar" %>
<div class='container'>
	<h1>Thread#create</h1>
	<p>Find me in app/views/thread/create.html.erb</p>
	<form class="well" method="post" action="/thread/create">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	    <label>Title</label>
	    <input type="text" class="span2" name="title" value="">
	    <label>Your name</label>
	    <input type="text" class="span2" name="username" value="">
	    <label>Comment</label>
	    <textarea name="body"></textarea>
	    <br>
	    <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

