<ul>
<% @threads.each do |thr| %>
	<li><a href='/thread/view?id=<%= thr.id %>'>[view] <%= thr.title %></a> | <a href='/thread/show?id=<%= thr.id %>'>[show] <%= thr.title %></a> - <%= thr.reply_ms.length %> reply(s)</li>
<% end %>
</ul>
<a class="btn btn-large btn-primary" href="/thread/create">Create</a>
<!--
	--https://apidock.com/rails/ActionView/Helpers/UrlHelper/link_to
	link_to "Profile", controller: "profiles", action: "show", id: @profile
	<a href="/profiles/show/1">Profile</a>
-->
<%= link_to "New", {controller: "thread", action: "new"}, class: "btn btn-large btn-primary" %>