<style>
	body {
		padding-top: 60px;
	}
</style>
<%= render partial: "shared/topbar" %>
<div class='container'>
	<h3>Thread#New</h3>
	<%= render partial: "shared/flashalert" %>
	<!--
		source:
		https://stackoverflow.com/questions/7878662/how-to-display-ruby-on-rails-form-validation-error-messages-one-at-a-time?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
	-->
	<%= showError(@thread) %>
	<%= form_for @thread, url: {action: "new"}, html: {class: "well"} do |f| %>
		<%= label_tag 'title' %>
		<%= f.text_field :title %>
		<%= label_tag 'username' %>
		<%= f.text_field :username %>
		<%= label_tag 'body', 'Comment' %>
		<%= f.text_area :body, size: "160x12" %>
		<%= tag "br" %>
		<%= f.submit "Create", class: "btn btn-success" %>
	<% end %>
	<%= debug(params) if Rails.env.development? %>
	<!--
		--http://guides.rubyonrails.org/form_helpers.html
		<form class="well" method="post" action="/thread/create">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		    <label>Title</label>
		    <input type="text" class="span2" name="title" value="">
		    <label>Your name</label>
		    <input type="text" class="span2" name="username" value="">
		    <label>Comment</label>
		    <textarea name="body"></textarea>
		    <br>
		    <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	-->
</div>