<style>
	body {
		padding-top: 60px;
	}
</style>
<%= render partial: "shared/topbar" %>
<div class='container'>
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<h3><%= @cur_thread.title %></h3>
	(ID = <%= @cur_thread.id %>) | by: <strong><%= @cur_thread.username %></strong> | Created at <i><%= @cur_thread.created_at %></i>
	<% 
		ctr = 0
		@thread_reply.each do |r| 
			ctr = ctr.next
	%>
		<hr>
		<div class="comment">
			<div class="meta">
				<%= ctr %> : <%= r.username %> <%= r.created_at %>
			</div>
			<div>
				<%= r.body %>
			</div>
	    </div>
	<% end %>
	
	<hr>
	<!--form reply-->
	<form class="well" method="post" action="/thread/write">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	    <label>Your name</label>
	    <input type="text" class="span2" name="username" value="">
	    <label>Comment</label>
	    <textarea name="body"></textarea>
	    <br />
	    <input type="hidden" name="thread_id" value="<%= @cur_thread.id %>">
	    <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>