<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">RoR Hello</a>
			<ul class="nav navbar-nav">    
            </ul>
            <ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>   
				<li><%= link_to "All Activities", activities_path %></li> 
				<li><%= link_to current_user.email, edit_user_registration_path %></li>
				<li><%= link_to "Log Out" , destroy_user_session_path, method: :delete %></li>
				<% else %>   
				<li><%= link_to "Sign In", user_session_path %></li>
				<li><%= link_to "Register", new_user_registration_path %></li>
				<% end %>   
            </ul>
		</div>

	</div>
</div>