<html>
	<head>
		<base href='<%= request.base_url %>'>
		<title><%= @title %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    	<%= csrf_meta_tags %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<style>
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	<body>
		<%= render partial: "shared/topbar" %>
		<div class='container'>
			<%= @content %>
		</div>
	</body>
</html>