<% p activity.trackable %>
added thread  
 <% if activity.trackable %>  
  <%= link_to activity.trackable.title, thread_show_path(activity.trackable.id) %>  
 <% else %>  
  which has since been removed  
 <% end %> 